Repository The-Ronin-Project/interop-backfill: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

[INT-2192] Add OpenAPI spec (#4)
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/DiscoveryQueueDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/binding/DiscoveryQueueDOs.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/DiscoveryQueueDO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/UndiscoveredQueueDO.kt
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill.db.changelog-0.0.1.yaml
  interop-backfill-server/src/main/resources/backfill/db/changelog/discoveryqueue/discovery-queue-01.yaml
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/DiscoveryQueueDAOTest.kt
  interop-backfill-server/src/test/resources/dbunit/discoveryqueue/MultipleQueueEntries.yaml
  interop-backfill-server/src/test/resources/dbunit/discoveryqueue/MultipleQueueEntriesAfterUpdate.yaml
  interop-backfill-server/src/test/resources/dbunit/discoveryqueue/SingleQueueEntry.yaml
Due: server

[INT-2144] Hook Rest Endpoints into DAOs (#7)
  README.md
  gradle/libs.versions.toml
  interop-backfill-client/interop-backfill-client.gradle.kts
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/interop-backfill-server.gradle.kts
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BackfillIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BaseBackfillIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/DiscoveryQueueIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/QueueIT.kt
  interop-backfill-server/src/it/resources/docker-compose-it.yaml
  interop-backfill-server/src/it/resources/mock-oauth2-config.json
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/BackfillServer.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/SecurityConfig.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/BackfillController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/DiscoveryQueueController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/QueueController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/BackfillDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/DiscoveryQueueDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/binding/BackfillDOs.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/binding/BackfillQueueDOs.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/BackfillDO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/BackfillQueueDO.kt
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill/backfill-01.yaml
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfillqueue/backfill-queue-01.yaml
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/BackfillControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/DiscoveryQueueControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/QueueControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillDAOTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAOTest.kt
  interop-backfill-server/src/test/resources/dbunit/backfill/Deleted.yaml
  interop-backfill-server/src/test/resources/dbunit/backfillqueue/MultipleQueueEntries.yaml
  interop-backfill-server/src/test/resources/dbunit/backfillqueue/MultipleQueueEntriesAfterUpdate.yaml
  interop-backfill-server/src/test/resources/dbunit/backfillqueue/SingleQueueEntry.yaml
  interop-backfill-server/src/test/resources/dbunit/discoveryqueue/MultipleQueueEntries.yaml
  interop-backfill-server/src/test/resources/dbunit/discoveryqueue/MultipleQueueEntriesAfterUpdate.yaml
  interop-backfill-server/src/test/resources/dbunit/discoveryqueue/SingleQueueEntry.yaml
Due: client, server

[INT-2239] Add Client (#9)
  gradle/libs.versions.toml
  interop-backfill-client/interop-backfill-client.gradle.kts
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/DiscoveryQueueClient.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/QueueClient.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientConfig.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientSpringConfig.kt
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/DiscoveryQueueClientTest.kt
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/QueueClientTest.kt
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BackfillIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BaseBackfillIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/DiscoveryQueueIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/QueueIT.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/DiscoveryQueueController.kt
Due: client, server

add push github workflow (#11)
  .github/workflows/build-push.yml
Due: none

[INT-2256] Better spring setup (#14)
  .github/workflows/server_integration_test.yml
  gradle/libs.versions.toml
  interop-backfill-client/interop-backfill-client.gradle.kts
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientConfig.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientSpringConfig.kt
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BaseBackfillIT.kt
Due: client, server

fix release workflow (#16)
  .github/workflows/create_release.yml
Due: none

INT-2310: SonarQube support (#17)
  .github/workflows/client-test.yml
  .github/workflows/server-test.yml
  .github/workflows/test.yml
  build.gradle.kts
  codecov.yml
  gradle/libs.versions.toml
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/BackfillClientTest.kt
Due: client

Fix deploy action (#20)
  .github/workflows/build-push.yml
Due: none

[INT-2267] Add OpenAPI page (#19)
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/QueueIT.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/SpringDocConfiguration.kt
Due: server

[INT-2319] CompletenessDAO and Tables (#21)
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/CompletenessDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/binding/CompletenessDOs.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/CompletenessDO.kt
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill.db.changelog-1.1.0.yaml
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill.db.changelog-master.yaml
  interop-backfill-server/src/main/resources/backfill/db/changelog/completeness/completeness-01.yaml
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/CompletenessDAOTest.kt
  interop-backfill-server/src/test/resources/dbunit/completeness/NoCompletenessEntry.yaml
  interop-backfill-server/src/test/resources/dbunit/completeness/SingleCompletenessEntry.yaml
  interop-backfill-server/src/test/resources/dbunit/completeness/UpdatedCompletenessEntry.yaml
Due: server

[INT-2320] Enable Kafka Listeners to subscribe to published events (#22)
  gradle/libs.versions.toml
  interop-backfill-client/interop-backfill-client.gradle.kts
  interop-backfill-server/interop-backfill-server.gradle.kts
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BackfillIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BaseBackfillIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/CompletionIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/DiscoveryQueueIT.kt
  interop-backfill-server/src/it/resources/docker-compose-it.yaml
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/BackfillConfig.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/BackfillServer.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/CompletionService.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/SpringDocConfiguration.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/CompletenessDAO.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/BackfillConfigTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/CompletionServiceTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/SpringDocConfigurationTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/CompletenessDAOTest.kt
Due: client, server

[INT-2321] Completion Service Resolver (#24)
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/CompletionIT.kt
  interop-backfill-server/src/it/resources/docker-compose-it.yaml
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/BackfillConfig.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/BackfillServer.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/CompletionService.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAO.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/BackfillConfigTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/CompletionServiceTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAOTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/CompletenessDAOTest.kt
Due: server

[INT-2143] Make spring values actually default (#26)
  interop-backfill-server/src/it/resources/docker-compose-it.yaml
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/CompletionService.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/CompletionServiceTest.kt
Due: server

Update to use basic-gradle-build-publish action (#27)
  .github/workflows/test.yml
Due: none

INT-2362: Add William and update GHA runners (#28)
  .github/workflows/build-push.yml
  .github/workflows/create_release.yml
  .github/workflows/lint.yml
  .github/workflows/server_integration_test.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test.yml
  .github/workflows/verify_mergeable.yml
  CODEOWNERS
Due: none

[INT-2333] Add databasechangelog-01.yaml so this can be deployed (#31)
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill.db.changelog-0.0.1.yaml
  interop-backfill-server/src/main/resources/backfill/db/changelog/databasechangelog/databasechangelog-01.yaml
Due: server

[INT-2333] Push to ronin-charts after merges (#30)
  .github/workflows/build-push.yml
  .github/workflows/create_release.yml
Due: none

[INT-2333] Correct group id on kafka (#32)
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/CompletionService.kt
Due: server

Ktlint and Gradle upgrades (#36)
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  interop-backfill-client/interop-backfill-client.gradle.kts
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/BackfillClient.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/DiscoveryQueueClient.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/QueueClient.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientConfig.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientSpringConfig.kt
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/BackfillClientTest.kt
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/DiscoveryQueueClientTest.kt
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/QueueClientTest.kt
  interop-backfill-server/interop-backfill-server.gradle.kts
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/CompletionService.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/SecurityConfig.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/SpringDocConfiguration.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/BackfillController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/DiscoveryQueueController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/QueueController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/CompletenessDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/DiscoveryQueueDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/BackfillDO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/BackfillQueueDO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/CompletenessDO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/DiscoveryQueueDO.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/CompletionServiceTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/BackfillControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/DiscoveryQueueControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/QueueControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillDAOTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAOTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/CompletenessDAOTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/DiscoveryQueueDAOTest.kt
Due: client, server

INT-2405: Upgrade to JDK 17 (#37)
  gradle/libs.versions.toml
  interop-backfill-client/interop-backfill-client.gradle.kts
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientConfig.kt
  interop-backfill-server/interop-backfill-server.gradle.kts
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/SecurityConfig.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/SpringDocConfiguration.kt
Due: client, server

[INT-2334] Fix github actions to not run twice on release (#39)
  .github/workflows/build-push.yml
  .github/workflows/create_release.yml
Due: none

[INT-2417] Validation POC in Kotlin
  interop-backfill-server/interop-backfill-server.gradle.kts
  interop-backfill-server/src/validation/kotlin/com/projectronin/interop/backfill/server/ValidationTest.kt
  interop-backfill-server/src/validation/resources/logback.xml
Due: server

[INT-2334] Fix Github actions (#40)
  .github/workflows/build-push.yml
  .github/workflows/cicd.yaml
  .github/workflows/create_release.yml
  .github/workflows/server_integration_test.yml
  .github/workflows/test.yml
Due: none

Fix release and sonar (#44)
  .github/workflows/cicd.yaml
  .github/workflows/create_release.yml
  build.gradle.kts
Due: none

QUAL-1610: bump deploy/v* --> deploy/v5 (#50)
  .github/workflows/cicd.yaml
  .github/workflows/create_release.yml
  .github/workflows/lint.yml
  .github/workflows/server_integration_test.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/verify_mergeable.yml
Due: none

INT-2422: Backfill Support for queue entries (#53)
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/QueueClient.kt
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/QueueIT.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/QueueController.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/QueueControllerTest.kt
Due: client, server

INT-2453 added component scan to spring config (#55)
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/spring/BackfillClientSpringConfig.kt
Due: client

[INT-2485] Allow for directly setting patient IDs for new backfills (#57)
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/BackfillClientTest.kt
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BackfillIT.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/BackfillController.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/BackfillControllerTest.kt
Due: client, server

[INT-2521] Add optional list of allowed resources (#59)
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BackfillIT.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/BackfillController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/BackfillDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/binding/BackfillDOs.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/model/BackfillDO.kt
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill.db.changelog-2.1.0.yaml
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill.db.changelog-master.yaml
  interop-backfill-server/src/main/resources/backfill/db/changelog/backfill/backfill-02.yaml
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/BackfillControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillDAOTest.kt
  interop-backfill-server/src/test/resources/dbunit/BaseBackfill.yaml
  interop-backfill-server/src/test/resources/dbunit/backfill/Deleted.yaml
Due: server

[INT-2522] expose allowed resources to queue endpoint (#60)
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/QueueClientTest.kt
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/QueueController.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/QueueControllerTest.kt
Due: client, server

[INT-2523] Allow allowed_resources to be null so mirth won't break (#62)
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/QueueClientTest.kt
  interop-backfill-server/backfill-api.yaml
Due: client, server

Int 2565 add pagination (#65)
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/BackfillClient.kt
  interop-backfill-client/src/main/kotlin/com/projectronin/interop/backfill/client/QueueClient.kt
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/BackfillClientTest.kt
  interop-backfill-client/src/test/kotlin/com/projectronin/interop/backfill/client/QueueClientTest.kt
  interop-backfill-server/backfill-api.yaml
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BackfillIT.kt
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/QueueIT.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/BackfillController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/controller/QueueController.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/BackfillDAO.kt
  interop-backfill-server/src/main/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAO.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/BackfillControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/controller/QueueControllerTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillDAOTest.kt
  interop-backfill-server/src/test/kotlin/com/projectronin/interop/backfill/server/data/BackfillQueueDAOTest.kt
  interop-backfill-server/src/test/resources/dbunit/backfill/Multipage.yaml
  interop-backfill-server/src/test/resources/dbunit/backfillqueue/MultipageQuery.yaml
Due: client, server

INT-2573: Cleanup Docker setup (#68)
  .github/workflows/server_integration_test.yml
  docker-compose.yml
  gradle/libs.versions.toml
  interop-backfill-server/src/it/kotlin/com/projectronin/interop/backfill/server/BaseBackfillIT.kt
  interop-backfill-server/src/it/resources/docker-compose-it.yaml
Due: server

Path conditions:
  client: any of: interop-backfill-client/
  server: any of: interop-backfill-server/
